@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    outline: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

body {
    margin: 0;
    padding: 0;
    background: #f2f2f2;
    font-family: "Open Sans", sans-serif;
}

.accordion {
    width: 576px;
    margin: 0 auto;
}

.accordion input {
    display: none;
}

.accordion-item {
    position: relative;
}

.accordion-header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: block;
    cursor: pointer;
    border-bottom: 1px solid #cecece;
    color: #333333;
}

.accordion-text {
    width: 100%;
    font-size: 11pt;
    color: #555555;
    display: block;
    height: 0;
    overflow: hidden;
    opacity: 0;
    position: relative;
    top: -10px;
}

.accordion-text p {
    padding: 10px 30px;
    line-height: 1.68em;
}

.closing {
    position: absolute;
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

input:checked + .accordion-item {
    height: auto;
}

input:checked + .accordion-item .accordion-text,
input:checked + .accordion-item .closing {
    display: block;
}

input:checked + .accordion-item .accordion-text {
    height: auto;
    opacity: 1;
    top: 0;
}

.dropdown-arrows section .accordion-header {
    padding: 0 0 0 30px;
}

.dropdown-arrows section .accordion-header:before {
    position: absolute;
    display: block;
    content: '\203a';
    font-size: 18pt;
    left: 12px;
    top: -2px;
    color: #333333;
}

input:checked + section.accordion-item .accordion-header:before {
    transform: rotate(90deg);
    top: 1px;
}
